.container { 
    display: grid;
    grid-template-columns: 15rem 1fr;
    background: var(--white);
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container__no-projects {
    grid-column: 1/4;
    align-self:center;
}


@media (max-width: 500px){
.container {
    grid-template-columns: 1fr;
}

}